In [2]:
import pandas as pd

name_basics = "C:\\Users\\559816\\Documents\\Project2\\Projet-Data-IA\\Database\\cleaned_movies_name_basics.csv"

df = pd.read_csv(name_basics, sep = ',')

In [3]:
df.head()

,nconst,primaryName,primaryProfession,knownForTitles
0,1,Fred Astaire,"['actor', 'miscellaneous', 'producer']",['tt0072308']
1,1,Fred Astaire,"['actor', 'miscellaneous', 'producer']",['tt0050419']
2,1,Fred Astaire,"['actor', 'miscellaneous', 'producer']",['tt0053137']
3,1,Fred Astaire,"['actor', 'miscellaneous', 'producer']",['tt0027125']
4,2,Lauren Bacall,"['actress', 'soundtrack', 'archive_footage']",['tt0037382']

In [3]:
import numpy as np

df.replace(r'\N', np.nan, inplace=True)

df.head()

,nconst,primaryName,primaryProfession,knownForTitles
0,1,Fred Astaire,"['actor', 'miscellaneous', 'producer']",['tt0072308']
1,1,Fred Astaire,"['actor', 'miscellaneous', 'producer']",['tt0050419']
2,1,Fred Astaire,"['actor', 'miscellaneous', 'producer']",['tt0053137']
3,1,Fred Astaire,"['actor', 'miscellaneous', 'producer']",['tt0027125']
4,2,Lauren Bacall,"['actress', 'soundtrack', 'archive_footage']",['tt0037382']

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8909533 entries, 0 to 8909532
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   nconst             int64
 1   primaryName        object
 2   primaryProfession  object
 3   knownForTitles     object
dtypes: int64(1), object(3)
memory usage: 271.9+ MB