In [4]:
import pandas as pd

In [5]:
title_ratings_path = "C:\\Users\\559816\\Documents\\Project2\\Projet-Data-IA\\Database\\not cleaned\\movies_title_ratings.csv"
df = pd.read_csv(title_ratings_path, sep = ',')

In [6]:
df.head()

      tconst  averageRating  numVotes
0  tt0000009            5.3       210
1  tt0000147            5.2       509
2  tt0000502            4.2        16
3  tt0000574            6.0       882
4  tt0000591            5.4        24

In [7]:
df.describe().round(2)

       averageRating    numVotes
count      307444.00   307444.00
mean            6.18     3635.32
std             1.37    36108.36
min             1.00        5.00
25%             5.30       19.00
50%             6.30       62.00
75%             7.10      315.00
max            10.00  2878611.00

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307444 entries, 0 to 307443
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         307444 non-null  object
 1   averageRating  307444 non-null  float64
 2   numVotes       307444 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 7.0+ MB

In [9]:
df.value_counts()

tconst      averageRating  numVotes
tt0000009   5.3            210         1
tt18265950  5.4            9           1
tt1826590   6.0            25081       1
tt1826583   7.3            110         1
tt1826578   8.1            14          1
                                      ..
tt0260246   4.4            95          1
tt0260242   5.6            37          1
tt0260233   7.0            12          1
tt0260231   6.6            29          1
tt9916730   7.0            12          1
Name: count, Length: 307444, dtype: int64

In [10]:
import numpy as np

df.replace(r'\N', np.nan, inplace=True)

df.head()

      tconst  averageRating  numVotes
0  tt0000009            5.3       210
1  tt0000147            5.2       509
2  tt0000502            4.2        16
3  tt0000574            6.0       882
4  tt0000591            5.4        24

In [13]:
df = df[df['averageRating'] >= 5]

df.head()

      tconst  averageRating  numVotes
0  tt0000009            5.3       210
1  tt0000147            5.2       509
3  tt0000574            6.0       882
4  tt0000591            5.4        24
8  tt0000679            5.1        72

In [12]:
# ready to export

df.to_csv('cleaned_movies_title_ratings.csv', index=False)