In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.metrics import calinski_harabasz_score

In [13]:
df_data= pd.read_csv(R'D:\\Projo\\Projet-Data-IA\\movies_tmdb\\movies_tmdb.csv', sep=',', 
                     encoding='utf-8', low_memory=False)

In [14]:
df_data.head()

,adult,backdrop_path,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,production_companies_name,production_companies_country
0,False,/dvQj1GBZAZirz1skEEZyWH2ZqQP.jpg,0,['Comedy'],NaN,3924,tt0029927,en,Blondie,Blondie and Dagwood are about to celebrate the...,...,70,['en'],Released,The favorite comic strip of millions at last o...,Blondie,False,7.214,7.0,['Columbia Pictures'],['US']
1,False,NaN,0,['Adventure'],NaN,6124,tt0011436,de,Der Mann ohne Namen,NaN,...,420,[],Released,NaN,"Peter Voss, Thief of Millions",False,0.000,0.0,[],[]
2,False,/uJlc4aNPF3Y8yAqahJTKBwgwPVW.jpg,0,"['Drama', 'Romance']",NaN,8773,tt0055747,fr,L'Amour à vingt ans,Love at Twenty unites five directors from five...,...,110,"['it', 'ja', 'pl', 'fr', 'de']",Released,The Intimate Secrets of Young Lovers,Love at Twenty,False,6.700,41.0,"['Ulysse Productions', 'Unitec Films', 'Cinese...","['', 'NZ', 'IT', 'JP', 'DE', 'PL', '']"
3,False,/hQ4pYsIbP22TMXOUdSfC2mjWrO0.jpg,0,"['Drama', 'Comedy', 'Crime']",NaN,2,tt0094675,fi,Ariel,Taisto Kasurinen is a Finnish coal miner whose...,...,73,['fi'],Released,NaN,Ariel,False,7.046,248.0,['Villealfa Filmproductions'],['FI']
4,False,/l94l89eMmFKh7na2a1u5q67VgNx.jpg,0,"['Drama', 'Comedy', 'Romance']",NaN,3,tt0092149,fi,Varjoja paratiisissa,"An episode in the life of Nikander, a garbage ...",...,76,['en'],Released,NaN,Shadows in Paradise,False,7.182,269.0,['Villealfa Filmproductions'],['FI']

In [15]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205893 entries, 0 to 205892
Data columns (total 25 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   adult                         205893 non-null  object
 1   backdrop_path                 116334 non-null  object
 2   budget                        205893 non-null  object
 3   genres                        205893 non-null  object
 4   homepage                      29616 non-null   object
 5   id                            205893 non-null  int64
 6   imdb_id                       205893 non-null  object
 7   original_language             205893 non-null  object
 8   original_title                205893 non-null  object
 9   overview                      190071 non-null  object
 10  popularity                    205892 non-null  object
 11  poster_path                   185196 non-null  object
 12  production_countries          205892 non-null  object
 13  release_date                  201481 non-null  object
 14  revenue                       205892 non-null  object
 15  runtime                       205892 non-null  object
 16  spoken_languages              205891 non-null  object
 17  status                        205891 non-null  object
 18  tagline                       60399 non-null   object
 19  title                         205891 non-null  object
 20  video                         205891 non-null  object
 21  vote_average                  205891 non-null  float64
 22  vote_count                    205891 non-null  float64
 23  production_companies_name     205891 non-null  object
 24  production_companies_country  104442 non-null  object
dtypes: float64(2), int64(1), object(22)
memory usage: 39.3+ MB

In [ ]:
df_data = df_data.dropna()