In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score
from sklearn.metrics import calinski_harabasz_score

In [6]:
data= pd.read_csv('D:\\Projo\\Projet-Data-IA\\movies_title_ratings\\movies_title_ratings.csv', sep=',')

In [7]:
data.head()

      tconst  averageRating  numVotes
0  tt0000009            5.3       210
1  tt0000147            5.2       509
2  tt0000502            4.2        16
3  tt0000574            6.0       882
4  tt0000591            5.4        24

In [8]:
data.describe()

       averageRating      numVotes
count  307444.000000  3.074440e+05
mean        6.175462  3.635319e+03
std         1.374285  3.610836e+04
min         1.000000  5.000000e+00
25%         5.300000  1.900000e+01
50%         6.300000  6.200000e+01
75%         7.100000  3.150000e+02
max        10.000000  2.878611e+06